# Игнорировать виртуальное окружение
venv/
env/

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать логи и временные файлы
*.log
*.sqlite3

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать файлы с секретами
.env
*.key
*.pem

# Игнорировать папки с зависимостями (если они уже установлены в контейнере)
node_modules/
dist/
build/

# Игнорировать большие файлы
*.zip
*.tar.gz
*.iso

# Исключаем скрытые файлы и папки Git
.git/
.gitignore